.DS_Store
*$DATA*
.cache
slnx.sqlite
VSWorkspaceState.json
.dtbcache
slnx.sqlite-journal
src/HanbaiKanri/.vs/*
.vs
*.cache
src/HanbaiKanri/HanbaiKanri/bin/Debug/
src/HanbaiKanri/HanbaiKanri/obj/Debug/
src/HanbaiKanri/UtilMDL/bin/Debug/
src/HanbaiKanri/UtilMDL/obj/Debug/
/src/HanbaiKanri/HanbaiKanri/bin/OutXls
/src/HanbaiKanri/HanbaiKanri/bin/Release
/src/HanbaiKanri/HanbaiKanri/obj/Release/TempPE/My Project.Resources.Designer.vb.dll
/src/HanbaiKanri/HanbaiKanri/obj/Release
/src/HanbaiKanri/HanbaiKanri_1.3.7
/src/HanbaiKanri/UtilMDL/bin/Release
/src/HanbaiKanri/UtilMDL/obj/Release
/src/HanbaiKanri/HanbaiKanri/HanbaiKanri_TemporaryKey.pfx
